Ember.app/.sass-cache/
Ember.app/dist/
Ember.app/node_modules/
Ember.app/src/build/
Ember.app/lint/*
Ember.app/qa
mongo_data/journal/
mongo_data/mng_starter_dev.0
mongo_data/mng_starter_dev.1
mongo_data/mng_starter_dev.ns
mongo_data/mongod.lock


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
