<div id="app">
 	<div class="start">
<!--		<img class="overlay" src="../assets/img/bevel.png">-->
		{{#link-to 'clock'}}
			<img src="../assets/img/kk_button_tumblr.png" 
				  onmouseover="this.src='../assets/img/kk_button_tumblr.gif';"
				  onmouseout="this.src='../assets/img/kk_button_tumblr.png';">
		{{/link-to}}
	</div>
</div>