<div id="app">
    {{#if isStarted}}
        {{partial 'clock'}}
    {{else}}    
        <div id="start">
        <!--		<img src="../assets/img/bevel.png">-->
            <a {{action 'start'}}>
                <img 
                     src="../assets/img/kk_button_tumblr.png"  
                     onmouseover="this.src='../assets/img/kk_button_tumblr.gif';"
                     onmouseout="this.src='../assets/img/kk_button_tumblr.png';">
            </a>
        </div>
    {{/if}}
</div>