<button {{action 'end'}}>Quit</button>
<div class="clock">
    <i>Loading...</i>
    <img id="clockPhase" src="../assets/img/Timeline/AC%20clock.gif">
    <iframe id="songPhase" width="480" height="50" src=""></iframe>
</div>

<div id="testApi">
	<h2>Test</h2>
	<button id="api" {{action 'api'}}>Use Api Data</button>
</div>

<div class="generation">
    <h1>Generation Selector</h1>
    <ul>
        <li>
            <article>
                <a>
                    <img 
                     src="../assets/img/animal-crossing-box.png"  
                     onmouseover="this.src='../assets/img/animal-crossing-box-up.png';"
                     onmouseout="this.src='../assets/img/animal-crossing-box.png';">
                    <dl>
                        <dd class="data">Sept. 15, 2002</dd>
                        <dd class="title">Animal Crossing</dd>
                        <dd class="platform">Nintendo GameCube&#153;</dd>
                    </dl>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a>
                    <img 
                     src="../assets/img/city-folk-box.png"  
                     onmouseover="this.src='../assets/img/city-folk-box-up.png';"
                     onmouseout="this.src='../assets/img/city-folk-box.png';">
                    <dl>
                        <dd class="data">Nov. 16, 2008</dd>
                        <dd class="title">
                            <span>Animal Crossing:</span>
                            City Folk
                        </dd>
                        <dd class="platform">Wii&#153;</dd>
                    </dl>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a>
                    <img 
                     src="../assets/img/new-leaf-box.png"  
                     onmouseover="this.src='../assets/img/new-leaf-box-up.png';"
                     onmouseout="this.src='../assets/img/new-leaf-box.png';">
                    <dl>
                        <dd class="data">Nov. 16, 2008</dd>
                        <dd class="title">
                            <span>Animal Crossing:</span>
                            New Leaf
                        </dd>
                        <dd class="platform">Nintendo 3DS&#153;</dd>
                    </dl>
                </a>
            </article>
        </li>
    </ul>
</div>