<div class="container">
	<header>
		<nav class="navbar" role="navigation">
			<ul>
				<li>
				  {{#link-to 'app'}}Start{{/link-to}}
				</li>
				<li><!--  Readme -->
                <a {{action 'showHint'}}>Guide</a>
				</li>
			</ul>
		</nav>
	</header>
	<body>
		<div>
			<div>{{outlet}}</div>
          
          {{#if hintShowing}}
            {{partial 'guide'}}
            <button {{action 'hideHint'}}>X</button>
          {{/if}}
          
		</div>
	</body>
	<footer>
		<p>&copy;2016 Lone-DO</p>
	</footer>
</div>