<button {{action 'end'}}>Quit</button>
<div class="clock">
    <i>Loading...</i>
    <img id="clockPhase" src="../assets/img/Timeline/AC%20clock.gif">
    <iframe id="songPhase" width="480" height="50" src=""></iframe>
</div>