/***************************
	 		 Base Styles
****************************/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
   text-align: center;
		background-image: url(../img/light-texture.jpg);
}

/***************************
	 		Header
****************************/

img[src*="Banner"] {
	width: 90%;
	height: 10em;
	min-height: 6em;
	margin-bottom: 1.7rem;
	margin-top: 1.7rem;
}

/***************************
          Footer
****************************/

/***************************
	 		App
****************************/

#app {
	
}


.start {
	width: 100%;
	position: relative;
	margin: 2%;
	overflow: hidden;
}


.start img[src*="button"] {
	border-radius: 50%;
	max-width: 80%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.start:hover img[src*="button"] {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/***************************
	 		Hub
****************************/



/***************************
           README
****************************/

#readme {
	text-align: center;
	font-size: 185%;
	color: black;
	text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
	background-image: url(../img/Green-Animal-Crossing-Pictures.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.rLinks {
	width: 80%;
	margin-bottom: 20px;
	border: black groove 2px;
}

/***************************
            API's
****************************/